@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}



.teneke{
    border-radius: 41% 59% 100% 0% / 30% 44% 56% 70%;
    background: #FEBF00;
    padding: 30px;
}

.teneke1{
    border-radius: 50% 50% 55% 45% / 73% 76% 24% 27% ;
    background: #FEBF00;
    padding: 30px;
    
}




  